<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   <display-name></display-name>
   <session-config>
     <session-timeout>60</session-timeout>
   </session-config>
  
  
  <!--对前台非登录者进行拦截  -->
    <filter>
	  	<filter-name>user</filter-name>
		<filter-class>com.eshop.filter.LoginFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>user</filter-name>
		<url-pattern>/pages/*</url-pattern>	
	</filter-mapping>
  
	<filter>
	  	<filter-name>log</filter-name>
		<filter-class>com.eshop.filter.LogFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>log</filter-name>
		<url-pattern>/*</url-pattern>	
	</filter-mapping>
	
	
	
  <!--对后台非登录者进行拦截  -->
    <filter>
	  	<filter-name>adminLoginfilter</filter-name>
		<filter-class>com.eshop.filter.AdminLoginFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>adminLoginfilter</filter-name>
		<url-pattern>/managers/*</url-pattern>	
	</filter-mapping> 
  
   <filter> 
     <filter-name>encodingFilter</filter-name> 
    <filter-class> 
      com.eshop.filter.CharacterEncodingFilter
    </filter-class> 
     
  </filter> 
<filter-mapping> 
     <filter-name>encodingFilter</filter-name> 
     <url-pattern>/*</url-pattern> 
</filter-mapping>
  

	<servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/springmvc-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
   <servlet>
    <servlet-name>UploadServlet3</servlet-name>
    <servlet-class>com.eshop.controller.UploadController</servlet-class>
   </servlet>
   <servlet>
    <servlet-name>PicUploadServlet</servlet-name>
    <servlet-class>com.eshop.controller.PicUploadController</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AlterGoodPicServlet</servlet-name>
    <servlet-class>com.eshop.controller.AlterGoodPicContorller</servlet-class>
  </servlet>
    
    
     <servlet-mapping>
	    <servlet-name>UploadServlet3</servlet-name>
	    <url-pattern>/servlet/UploadServlet3</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>PicUploadServlet</servlet-name>
	    <url-pattern>/servlet/PicUploadServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
	    <servlet-name>AlterGoodPicServlet</servlet-name>
	    <url-pattern>/servlet/AlterGoodPicServlet</url-pattern>
    </servlet-mapping>
    <error-page>
   <error-code>500</error-code>
   <location>/index.jsp</location>
   </error-page>
  
   <error-page>
   <error-code>404</error-code>
   <location>/index.jsp</location>
   </error-page>
    <!-- 全局错误页面 -->
    <!-- <error-page>
	    <exception-type>java.lang.Exception</exception-type>
	  	<location>/error.htm</location>
	</error-page>  -->
  
 <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
